cycler            0.11.0
fonttools         4.33.2
guppy3            3.1.2
kiwisolver        1.4.2
llvmlite          0.38.0
matplotlib        3.5.1
networkx          2.6.3
numba             0.55.1
numpy             1.21.6
packaging         21.3
Pillow            9.1.0
pip               19.0.3
pyldpc            0.7.9
pyparsing         3.0.8
python-dateutil   2.8.2
python2           1.2
scipy             1.7.3
setuptools        40.8.0
six               1.16.0
typing-extensions 4.2.0
utils             1.0.1
